<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <servlet-class>controller.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadWorkerInfoServlet</servlet-name>
        <servlet-class>controller.LoadWorkerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSecurityServlet</servlet-name>
        <servlet-class>controller.AccountSecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotificationServlet</servlet-name>
        <servlet-class>controller.SendNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/userDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadResidentInfoServlet</servlet-name>
        <servlet-class>controller.LoadResidentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadResidentInfoServlet</servlet-name>
        <url-pattern>/LoadResidentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <servlet-class>controller.ServiceRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <url-pattern>/ServiceRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadWorkerInfoServlet</servlet-name>
        <url-pattern>/LoadWorkerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSecurityServlet</servlet-name>
        <url-pattern>/accountSecurity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotificationServlet</servlet-name>
        <url-pattern>/SendNotificationServlet</url-pattern>
    </servlet-mapping>
</web-app>
